
  .information{
    width: 80%;
    background: white;
    margin: 1rem auto;
    position: absolute;
    top: 20%;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;

    padding: 1rem 1rem 2rem 1rem;

    z-index: 1;
  }

  .information__items{
    border-left: 1px solid var(--Dark-Gray);
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-align: start;
  }

  .information__items:first-child{
    border-left: 0;
  }

  .information__items p{
    text-transform: uppercase;
    color: var(--Dark-Gray);
    
    font-size: 0.875rem;
    font-weight: 700;

    margin-bottom: 1rem;
  }
@media (min-width: 0px) and (max-width: 767px) {
  .information{
    flex-direction: column;
  }

  .information__items{
    border-left: 0
  }
}