.addressForm{
  background: #453534;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.addressForm h1{
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 0px) and (max-width: 678px) {
.addressForm{
  height: 40vh;
}
}